!magazine/content/.htaccess
/magazine/content/*
!magazine/content/blocks
/magazine/content/blocks/*
!magazine/content/configs
/magazine/content/configs/*
!magazine/content/issues
/magazine/content/issues/*
!magazine/content/log
/magazine/content/logs/*
!magazine/content/stories
/magazine/content/stories/*
!magazine/content/images
/magazine/content/images/*
!magazine/content/audio
/magazine/content/audio/*
!/magazine/export/index.html
/magazine/export/*
!/magazine/export/edit
/magazine/export/edit/*
!/magazine/export/live
/magazine/export/live/*
!/magazine/export/print
/magazine/export/print/*
/magazine/data/composer.lock
/magazine/data/composer.phar
!/magazine/data/tp
/magazine/data/tp/*
!/magazine/data/vendor
/magazine/data/vendor/*
!/magazine/data/cache
/magazine/data/cache/*
!/magazine/shared/fonts
/magazine/shared/fonts/*

/magazine/data/configs/default.php

#temp
/magazine/shared/cache
/magazine/shared/qrlink
/magazine/restricted/desktop/*
/magazine/restricted/feedback/*
/magazine/restricted/stats/*
/magazine/restricted/studio/cache
/magazine/restricted/studio/pdf-tpl.php
/magazine/restricted/studio/txt.php
/magazine/restricted/studio/users-edit.php
/magazine/restricted/studio/users-print.php
/magazine/app

