@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/subset-SpaceGrotesk-Light.eot');
    src: url('../fonts/subset-SpaceGrotesk-Light.eot?#iefix') format('embedded-opentype'),	
        url('../fonts/subset-SpaceGrotesk-Light.woff2') format('woff2'),
        url('../fonts/subset-SpaceGrotesk-Light.woff') format('woff'),
        url('../fonts/subset-SpaceGrotesk-Light.ttf') format('truetype'),
        url('../fonts/subset-SpaceGrotesk-Light.svg#SpaceGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('../fonts/AlegreyaSansSC-Medium.woff2') format('woff2'),
        url('../fonts/AlegreyaSansSC-Medium.woff') format('woff'),
        url('../fonts/AlegreyaSansSC-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dyslexie Regular';
    src: url('../fonts/Dyslexie_Regular_166803.woff') format('woff'),
        url('../fonts/Dyslexie_Regular_166803.ttf') format('truetype');
    font-style: normal;
}
*
{
	font-family: 'Dyslexie Regular';
	color: #334;
}
body 
{ 
	padding: 0; 
	margin: 0;
}
textarea 
{
	font-size: 20px;
}
